@import "../general/mixins";
@import "../general/variables";

#background-autorization {
    background: #4e4e4e url("../../img/textures-tweed.png") 0 0 repeat; 
    display: none;
    padding-bottom: 20px; 
    .enter {
        display: none;
    }
    .registration {
        display: none;
        form {
            padding: 0px 30px;
        }
    }
    form {
        background: #111516;
    }
    div:first-of-type {
        color: #fff;
        font-size: 23px;
    }
    label {
        color: #fff;
        font-size: 17px;
        font-weight: normal;
        margin: 20px 0;
    }
    input[type="submit"]{
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #f08554), color-stop(48%, #f26a2c), color-stop(51%, #ed6d32), color-stop(100%, #f45d17));
        background: linear-gradient(to bottom, #f08554 0%, #f26a2c 48%, #ed6d32 51%, #f45d17 100%);
        padding: 10px 30px;
        margin: 10px 0;
        float: right;
        outline: none;
        margin: 30px 0;
        &:focus,
        &:active {
            border-color: none;
        }            
    }
    .forgot-password {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 40px;
        border-top: 1px solid #D0D0D0; 
        a {
            color: #D0D0D0;
            text-decoration: none;        
        }
    }
    [class*='error-'] {
        padding: 10px 0;
        background: #ff0000;
        color: #fff;        
    }
}

