@import "../general/mixins";
@import "../general/variables";

footer {
    background: #4e4e4e url("../../img/textures-tweed.png") 0 0 repeat;
    padding: 20px 0 10px;
    .container {
        & > span {
            color: $autor;
            font-size: 15px;
        }
    }
    ul {
        float: right;
        display: inline-block;
        a {
            color: #d0d0d0;
        }
        span {
            font-size: 25px;
        }
        .icon-facebook2:hover {
            color: #3b5998;
        }
        .icon-vk:hover {
            color: #527498;
        }
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
}