@import "../general/mixins";
@import "../general/variables";

.citadel-nav-menu {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: #111516;
    .navbar-brand {
        font-weight: 700;
        font-family: $font-family;
        font-size: 25px;
        color: $clr-nav-menu;
        &:hover {
            color: $clr-nav-hvr;
        }
    }
    .navbar-nav {
        li {
            a {
                font-family: $font-family;
                font-size: 18px;
                color: $clr-nav-menu;
                border-top: 2px solid transparent; 
                &:hover {
                    color: #fff;
                    border-top: 2px solid #fff;
                }
                &:active {
                    color: #fff;
                }                
            }
        }
        img {
            cursor: pointer;
            margin-left: 5px;
            width: 25px;
        }
    }
    .nav-autoriz {
        display: block;
    }
    .leng {
        a {
            display: inline-block;
            padding: 0;
            border: none;
        }
    }
}
