@import "../general/mixins";
@import "../general/variables";

.reg-block {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: #111516;  
    li {
		a {
			font-family: Calibri, Arial, sans-serif;
			font-size: 18px;
			color: #d0d0d0;
			border-top: 2px solid transparent;  
			&:hover {
				color: #fff;
				border-top: 2px solid #fff;
				background: transparent;
			}
			&:active {
				color: #fff;
				background: transparent;
			}
			&:focus {
				background: transparent;
			}
		}
	}
	.user-avatar {
		width: 40px;
		border-radius: 50%;
		border: 1px solid #d0d0d0;
	}
	.user-name {
		margin-left: 15px;
		font-size: 20px;
		font-weight: 600;
		color: #d0d0d0;
	}
}