@import "../general/mixins";
@import "../general/variables";

.reg-block {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: #111516;    
    li {
        a {
            font-family: $font-family;
            font-size: 18px;
            color: $clr-nav-menu;
            border-top: 2px solid transparent; 
            &:hover {
                color: #fff;
                border-top: 2px solid #fff;
                background: transparent;
            }
            &:active {
                color: #fff;
                background: transparent;
            }
            &:focus {
                background: transparent;
            }                
        }        
    }
}