@import "../general/mixins";
@import "../general/variables";

.comments {
    background: #4e4e4e;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.68);
    overflow: auto;
    max-height: 800px;
    margin: 20px 0;
    .comment-block {
        width: 97%;
        margin-bottom: 20px;
        border-bottom: 1px solid #F45E17;
        .name {
            color: #F45E17;
            font-size: 20px;
        }
        .data-comment {
            color: #F45E17;
            font-size: 15px;
        }
        .comment-content {
            color: #d0d0d0;
        }
    }
}