@import "../general/mixins";
@import "../general/variables";

.reviews-section {
    background: #4e4e4e url("../../img/textures-tweed.png") 0 0 repeat;
    min-height: calc(100% - 173px);
    .container {
        min-height: 100%;
    }
 }