@import "../general/mixins";
@import "../general/variables";

.write-comment {
    position: relative;
    .row {
        display: flex;
        justify-content: center;    
    }
    label {
        color: #F45E17;
    }
    input, textarea {
        margin-bottom: 25px;
    }
    input[type="button"]{
        background: -moz-linear-gradient(top, rgba(240,133,84,1) 0%, rgba(242,106,44,1) 48%, rgba(237,109,50,1) 51%, rgba(244,93,23,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,133,84,1)), color-stop(48%, rgba(242,106,44,1)), color-stop(51%, rgba(237,109,50,1)), color-stop(100%, rgba(244,93,23,1)));
        background: -webkit-linear-gradient(top, rgba(240,133,84,1) 0%, rgba(242,106,44,1) 48%, rgba(237,109,50,1) 51%, rgba(244,93,23,1) 100%);
        background: -o-linear-gradient(top, rgba(240,133,84,1) 0%, rgba(242,106,44,1) 48%, rgba(237,109,50,1) 51%, rgba(244,93,23,1) 100%);
        background: -ms-linear-gradient(top, rgba(240,133,84,1) 0%, rgba(242,106,44,1) 48%, rgba(237,109,50,1) 51%, rgba(244,93,23,1) 100%);
        background: linear-gradient(to bottom, rgba(240,133,84,1) 0%, rgba(242,106,44,1) 48%, rgba(237,109,50,1) 51%, rgba(244,93,23,1) 100%);    
        outline: none;
        &:focus,
        &:active {
            border-color: none;
        }        
    }
}
    