@import "../general/mixins";
@import "../general/variables";

.table-section {
    background: #4e4e4e url("../../img/textures-tweed.png") 0 0 repeat;
    min-height: calc(100% - 173px);
    .container {
        background: #4e4e4e;
        min-height: calc(100% - 50px);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.68);
    }
    table {
        margin: 15px 0;
        color: #F45E17;
    }
}