@import "../general/mixins";
@import "../general/variables";

.read-news {
    .wrapper-news {
        padding-bottom: 50px;
    }
    .title-part {
        border-bottom: 1px solid;
        color: #fff;
        font-weight: 600;
        margin-bottom: 20px;   
        h1 {
            padding-bottom: 15px;
        }
    }
    .full-news {
        color: #d0d0d0;
    }
}
