@import "../general/mixins";
@import "../general/variables";

.news {
    background: #4e4e4e url("../../img/textures-tweed.png") 0 0 repeat;
    min-height: calc(100% - 173px);
    .container {
        background: #4e4e4e;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.68);
    }
    .news__author {
        color: #fff;
        font-size: 20px;
        margin-top: 10px;
    }
    .news__text {
        color: $text-demo-news;
        font-size: 15px;
    }
    .news__data {
        color: #fff;
        font-size: 13px;
        font-weight: 800;
        margin-top: 10px;
        float: right;
    }
    .read-more {
        float: right;
    }
    .news__block {
        border-bottom: 1px solid #fff;
        width: 90%;
    }
    .newsHeader {
        color: #fff;
    }
}