@import "../general/mixins";
@import "../general/variables";

.news-comments {
    border-top: 1px solid #d0d0d0;
    h2 {
        color: #fff;
        margin-bottom: 50px;
    }
    .wrapper-comment {
        position: relative;
        margin-bottom: 50px;
    }
    .avatar-block {
        position: relative;
        &::before {
            content: "";
            border-color: transparent transparent transparent #4e4e4e;
            border-style: solid;
            border-width: 22px 0 0 17px;
            display: inline-block;
            position: absolute;
            top: 50px;
            left: 67px;
            height: 0;
            width: 0;
            z-index: 1;
        }
        &::after {
            content: "";
            border-color: transparent transparent transparent #d0d0d0;
            border-style: solid;
            border-width: 25px 0 0 20px;
            display: inline-block;
            position: absolute;
            top: 45px;
            left: 65px;
            height: 0;
            width: 0;
        }
    }
    .avatar {
        border-radius: 50%;
        margin: 0 0 30px 45px;
        width: 40px;
                
    }
    .comment {
        border: 2px solid #d0d0d0;
        border-radius: 40px;
        padding: 15px;
    }
    .comment-title {
        color: #fff;
        border-bottom: 1px solid #d0d0d0;
        padding-bottom: 10px;
    }
    .comment-header {
        margin: 0;
        display: inline-block;
    }
    .comment-date {
        display: inline-block;
        float: right;
    }
    .comment-content {
        padding: 10px 0;
        color: #d0d0d0;
    }
    .form-control {
        border-radius: 20px;
        height: 120px;
        resize: none;
    }
    .write-comment {
        position: relative;
        h2 {
            border-top: 1px solid #d0d0d0;
        }
        .avatar-block {
            &::before {
                border-color: transparent;
            }
            &::after {
                border-color: transparent transparent transparent #fff;
                
            }
        }
        input[type="submit"] {
            width: auto;
            padding: 10px 30px;
        }
    }
}