@import "../general/mixins";
@import "../general/variables";

.premier-carousel {
    .carousels-item {
        img {
            width: 100%;
            height: 450px;
        }
    }
    .carousel-indicators {
        z-index: 1;
    }
    .carousel-control {
        width: 50px;
        height: 100%;
        opacity: 1;
        color: $clr-nav-menu;
        &:hover {
            color: #fff;
        }
    }
    .glyphicon{
        top: 45%;
        font-size: 29px;
        &-l {
            margin-right: 0;
            margin: 10px;
        }
        &-r {
            margin-right: 15px;
        }
    }
}