@import "../general/mixins";
@import "../general/variables";

.gym {
    padding-top: 20px; 
    background: #4e4e4e url("../../img/textures-tweed.png") 0 0 repeat;
    font-size: 20px;
    font-weight: 400;
    color: $clr-txt-bld-gr;
    // .title {
    //     &:before {
    //         content: "";
    //         display: inline-block;
    //         position: relative;
    //         bottom: 5px;
    //         width: 40%;
    //         border-bottom: 2px solid #fff; 
    //     }
    //     &:after {
    //         content: "";
    //         display: inline-block;
    //         position: relative;
    //         bottom: 5px;
    //         width: 40%;
    //         border-bottom: 2px solid #fff; 
    //     }
    // }
    h1 {
        display: inline-block;
    }
    img {
        cursor: pointer;
    }
    .gym-rb {
        img {
            float: left;
            margin-right: 50px;
        }
    }
    .gym-crossfit {
        img {
            float: right;
            margin-left: 50px;
        }
    }
    
    .gym-padding {
        padding: 50px 0;
    }
}