@import "../general/mixins";
@import "../general/variables";

.map {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #111516;    
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.68);
    color: $clr-txt-bld-gr;
}
