@import "../general/mixins";
@import "../general/variables";

.news-content {
    background: #4e4e4e url("../../img/textures-tweed.png") 0 0 repeat;
    .container {
        background: #4e4e4e;
        // box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.68);
        padding: 0;
    }
    #news-summary {
        height: 450px;
        overflow: auto;
        width: 100% !important;
        .jspContainer {
            width: inherit !important;
        }
        .jspPane {
            width: inherit !important;
        }
        .news__author {
            color: #fff;
            font-size: 20px;
            margin-top: 10px;
        }
        .news__text {
            color: $text-demo-news;
            font-size: 15px;
        }
    }
    .news__data {
        color: #fff;
        font-size: 13px;
        font-weight: 800;
        margin-top: 10px;
        float: right;
    }
    .read-more {
        float: right;
    }
    .news__block {
        border-bottom: 1px solid #fff;
        width: 90%;
    }
    .newsHeader {
        color: #fff;
    }
}