//GENERAL FONT 
$font-family: Calibri, Arial, sans-serif;
$font-color-crsl: #fff;

//COMMON 
//HEADER
$header-bckgrnd:#252525;
$clr-nav-menu: #d0d0d0;
$clr-nav-hvr: #C2C1BF;

//HOME-PAGE 
//about-us
$clr-txt-bld-gr: #d0d0d0;
$distinguish: #F45E17;

//news-content
$autor: #F45E17;
$text-demo-news: #d0d0d0;

 
