@import "general/mixins";
@import "general/variables";

* {
    margin: 0px;
    padding: 0px;
    font-family: $font-family;
    outline: none;
}
li {
    line-height: normal;
}
html, body {
    height: 100%;
}
.text-bold-grey {
    font-size: 20px;
    font-weight: 600px;
    color: $distinguish;
}
.small-image {
    width: 200px;
}
.big-image {
    width: 800px;
}