@import "../general/mixins";
@import "../general/variables";

.about-us {
    padding-top: 20px;
    background: #4e4e4e url("../../img/textures-tweed.png") 0 0 repeat;
    .info-about-club {
        width: 41.66666667%;
        font-size: 20px;
        font-weight: 600;
        color: $clr-txt-bld-gr;
    }
}